
<!-- Off-Canvas Category Menu-->
<div class="offcanvas-container" id="shop-categories">
  <div class="offcanvas-header">
    <h3 class="offcanvas-title">Shop Categories</h3>
  </div>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li class='<%= 'active' if current_page? controller: 'products' %>'>
        <a href="<%= products_path %>"><span><%= t('spree.products') %></span></a>
      </li>
      <% @taxonomies&.each do |taxonomy| %>
      <li class='has-children <%= 'active' if request.path.start_with? seo_url(taxonomy.root) %>'>
        <span><a href="<%= seo_url(taxonomy.root) %>"><%= taxonomy.root.name %></a><span class="sub-menu-toggle"></span></span>
        <% cache [I18n.locale, taxonomy, @taxon, 1] do %>
          <%= lit_tree(taxonomy.root, @taxon, 1, 'offcanvas-submenu') %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </nav>
</div>


<!-- Off-Canvas Mobile Menu-->
<div class="offcanvas-container" id="mobile-menu">
  <a class="account-link" href="<%= account_path %>">
    <div class="user-ava">
      <%= image_tag 'touch-icon-ipad.png', style: 'background-color: white; border-radius: 7%;' %>
    </div>
    <div class="user-info">
      <% if user = try_spree_current_user %>
        <h6 class="user-name">MYPAGE</h6>
        <span class="text-sm text-white opacity-60"><%= user&.email %></span>
      <% else %>
        <h6 class="user-name">LOGIN</h6>
        <span class="text-sm text-white opacity-60"><%= t('previous_purchase_favorite_products') %></span>
      <% end %>
    </div>
  </a>
  <nav class="offcanvas-menu">
    <ul class="menu">
      <li class='<%= 'active' if current_page? '/' %>'>
        <a href="/"><span>Home</span></a>
      </li>
      <li class='<%= 'active' if current_page? controller: 'products' %>'>
        <a href="<%= products_path %>"><span><%= t('spree.products') %></span></a>
      </li>
      <% @taxonomies&.each do |taxonomy| %>
      <li class='has-children <%= 'active' if request.path.start_with? seo_url(taxonomy.root) %>'>
        <span><a href="<%= seo_url(taxonomy.root) %>"><%= taxonomy.root.name %></a><span class="sub-menu-toggle"></span></span>
        <% cache [I18n.locale, taxonomy, @taxon, 1] do %>
          <%= lit_tree(taxonomy.root, @taxon, 1, 'offcanvas-submenu') %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </nav>
</div>



