
<% if true %>

<!-- Topbar-->
<div class="topbar">
  <div class="topbar-column"><a class="hidden-md-down" href="mailto:info@loveistokyo.jp"><i class="icon-mail"></i>&nbsp; info@loveistokyo.jp</a><a class="hidden-md-down" href="tel:0364523327"><i class="icon-bell"></i>&nbsp; (+81)03-6452-3327</a><a class="social-button sb-facebook shape-none sb-dark" href="#" target="_blank"><i class="socicon-facebook"></i></a><a class="social-button sb-twitter shape-none sb-dark" href="#" target="_blank"><i class="socicon-twitter"></i></a><a class="social-button sb-instagram shape-none sb-dark" href="#" target="_blank"><i class="socicon-instagram"></i></a><a class="social-button sb-pinterest shape-none sb-dark" href="#" target="_blank"><i class="socicon-pinterest"></i></a>
  </div>
  <div class="topbar-column"><a class="hidden-md-down" href="#"><i class="icon-download"></i>&nbsp; Get mobile app</a>
    <div class="lang-currency-switcher-wrap">
      <div class="lang-currency-switcher dropdown-toggle">
        <%# <span class="language"> </span> %>
        <span class="currency">
          <%= I18n.t('spree.i18n.this_file_language', locale: I18n.locale, default: I18n.locale.to_s, fallback: false) %>
        </span>
      </div>
      <div class="dropdown-menu">
        <% if false %>
        <div class="currency-select">
          <select class="form-control form-control-rounded form-control-sm">
            <option value="usd">$ USD</option>
            <option value="usd">€ EUR</option>
            <option value="usd">£ UKP</option>
            <option value="usd">¥ JPY</option>
          </select>
        </div>
        <a class="dropdown-item" href="#"><%= image_tag "lit/flags/FR.png", alt: "Français" %>Français</a>
        <a class="dropdown-item" href="#"><%= image_tag "lit/flags/DE.png", alt: "Deutsch" %>Deutsch</a>
        <a class="dropdown-item" href="#"><%= image_tag "lit/flags/IT.png", alt: "Italiano" %>Italiano</a>
        <% end %>

        <%= render 'spree/shared/atag_locale_selector' %>
      </div>

    </div>
  </div>
</div>
<% end %>

<!-- Navbar-->
<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="navbar navbar-sticky">
  <!-- Search-->
  <%= form_tag spree.products_path, method: :get, class: 'site-search' do %>
    <%= search_field_tag :keywords, params[:keywords],
      placeholder: "#{t('spree.search')}. . .", class: 'text-center', autocomplete: "off" %>
    <div class="search-tools"><span class="clear-search">Clear</span><span class="close-search"><i class="icon-cross"></i></span></div>
    <style>
    #keywords::-webkit-input-placeholder { padding-left: 55px; }
    #keywords:-ms-input-placeholder { padding-left: 55px; }
    #keywords::-moz-placeholder { padding-left: 55px; }
    #keywords:-moz-placeholder { padding-left: 55px; }
    </style>
  <% end %>
  <div class="site-branding">
    <div class="inner">
      <!-- Off-Canvas Toggle (#shop-categories)--><a class="offcanvas-toggle cats-toggle hidden-md-up" href="#shop-categories" data-toggle="offcanvas"></a>
      <!-- Off-Canvas Toggle (#mobile-menu)--><a class="offcanvas-toggle menu-toggle" href="#mobile-menu" data-toggle="offcanvas"></a>
      <!-- Site Logo-->
      <a class="site-logo" href="/">
        <%= image_tag "loveistokyo/loveistokyo.png", alt: "LOVE is TOKYO" %>
      </a>
    </div>
  </div>

  <!-- Main Navigation-->
  <nav class="site-menu">
    <ul>
      <li class="has-megamenu <%= 'active' if current_page? controller: 'home' %>"><a href="/"><span>Home</span></a>
        <ul class="mega-menu">
          <li><a class="d-block img-thumbnail text-center navi-link" href="/"><%= image_tag "lit/mega-menu-home/01.jpg", alt: "Featured Products Slider" %>
              <h6 class="mt-3">Featured Products Slider</h6></a></li>
          <li><a class="d-block img-thumbnail text-center navi-link" href="home-featured-categories.html"><%= image_tag "lit/mega-menu-home/02.jpg", alt: "Featured Categories" %>
              <h6 class="mt-3">Featured Categories</h6></a></li>
          <li><a class="d-block img-thumbnail text-center navi-link" href="home-collection-showcase.html"><%= image_tag "lit/mega-menu-home/03.jpg", alt: "Products Collection Showcase" %>
              <h6 class="mt-3">Products Collection Showcase</h6></a></li>
          <li>
            <div class="img-thumbnail text-center"><%= image_tag "lit/mega-menu-home/04.jpg", alt: "More To Come. Stay Tuned!" %>
              <h6 class="mt-3">More To Come. Stay Tuned!</h6>
            </div>
          </li>
        </ul>
      </li>
      <li class='<%= 'active' if current_page? controller: 'products' %>'>
        <a href="<%= products_path %>"><span><%= t('spree.products') %></span></a>
      </li>
      <% @taxonomies.each do |taxonomy| %>
      <li class='<%= 'active' if request.path.start_with? seo_url(taxonomy.root) %>'>
        <a href="<%= seo_url(taxonomy.root) %>"><span><%= taxonomy.root.name %></span></a>
        <% cache [I18n.locale, taxonomy, @taxon, 1] do %>
          <%= lit_tree(taxonomy.root, @taxon, 1) %>
        <% end %>
      </li>
      <% end %>
    </ul>
  </nav>

  <!-- Toolbar-->
  <div class="toolbar">
    <div class="inner">
      <div class="tools">
        <% if false %>
        <div class='account' style='width: 170px;'>
          <%= render 'spree/shared/span_locale_selector' %>
        </div>
        <% end %>
        <div class="search"><i class="icon-search"></i></div>
        <div class="account"><a href="<%= account_path %>"></a>
          <i class="icon-head"></i>
          <ul class="toolbar-dropdown">
            <li class="sub-menu-user">
              <div class="user-ava">
                <img style="background-color: white; border-radius: 7%;" src="/assets/touch-icon-ipad-bc151e2f0f33506b2099cbd4613a0b128ffa36b9dbf9b34863e2bff83fe2f55c.png">
              </div>
              <div class="user-info">
                <h6 class="user-name">MYPAGE</h6>
              </div>
            </li>
            <li><a href="<%= account_path %>">My Profile</a></li>
            <%# <li><a href="account-orders.html">Orders List</a></li> %>
            <%# <li><a href="account-wishlist.html">Wishlist</a></li> %>
            <li class="sub-menu-separator"></li>
            <% if spree_current_user %>
              <li><%= link_to raw("<i class='icon-unlock'></i>#{Spree.t(:logout)}"), logout_path %></li>
            <% else %>
              <li id="link-to-login"><%= link_to raw("<i class='icon-lock'></i>#{Spree.t(:login)}"), login_path %></li>
            <% end %>
          </ul>
        </div>
        <div class="cart" id="link-to-cart" data-hook data-count="" data-subtotal="">
          <noscript><%= link_to t('spree.cart'), spree.cart_path %></noscript>
          <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
          <a href="<%= cart_path %>"></a><i class="icon-bag"></i>
          <span class="count"><%= current_order&.item_count %></span>
          <span class="subtotal"><%= current_order&.display_total&.to_html %></span>
        </div>
      </div>
    </div>
  </div>
</header>

