<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>

    <!-- Favicon and Apple Icons-->
    <link rel="icon" type="image/x-icon" href="<%= image_path 'favicon.ico' %>">
    <link rel="icon" type="image/png" href="<%= image_path 'favicon.png' %>">
    <link rel="apple-touch-icon" href="<%= image_path 'touch-icon-iphone.png' %>">
    <link rel="apple-touch-icon" sizes="152x152" href="<%= image_path 'touch-icon-ipad.png' %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path 'touch-icon-iphone-retina.png' %>">
    <link rel="apple-touch-icon" sizes="167x167" href="<%= image_path 'touch-icon-ipad-retina.png' %>">

    <%= stylesheet_link_tag 'lit/vendor.min', media: 'screen' %>
    <%= stylesheet_link_tag 'lit/styles.min', media: 'screen', id: "mainStyles"  %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= stylesheet_link_tag "lit/#{controller_path}" rescue '' %>

    <%= javascript_include_tag 'lit/modernizr.min' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= body_class %> <%= "#{controller_name}--#{action_name}" %>" id="<%= @body_id || 'default' %>" data-hook="body">

    <%= render partial: 'shared/sidemenu' %>
    <%= render partial: 'shared/topbar' %>

    <% if content_for? :modalshopfilters %>
      <%= yield :modalshopfilters %>
    <% end %>

    <div class="offcanvas-wrapper">

      <% if content_for? :pagetitle %>
        <%= yield :pagetitle %>
      <% end %>

      <%#= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>

      <%= flash_messages %>
      <%= yield %>
      <%= yield :templates %>

      <%= render partial: 'spree/shared/footer' %>
    </div>

    <% if content_for? :pswp %>
      <%= yield :pswp %>
    <% end %>

    <% if false %>
    <div class="container">
      <%= render partial: 'spree/shared/header' %>
      <div id="wrapper" class="row" data-hook>
        <%= taxon_breadcrumbs(@taxon) %>
        <%= render partial: 'spree/shared/sidebar' if content_for? :sidebar %>
        <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
          <%= flash_messages %>
          <%= yield %>
        </div>
        <%= yield :templates %>
      </div>
      <%= render partial: 'spree/shared/footer' %>
    </div>
    <% end %>

    <a class="scroll-to-top-btn" href="#"><i class="icon-arrow-up"></i></a>
    <div class="site-backdrop"></div>
    <%= javascript_include_tag 'lit/vendor.min' %>
    <%= javascript_include_tag 'lit/scripts.min' %>
    <%= javascript_include_tag "lit/#{controller_path}" rescue '' %>
  </body>
</html>
